<div class="py-5 team4">
  <div class="container">
    <div class="row justify-content-center mb-4">
      <div class="col-md-7 text-center">
        <h1 class="mb-3">La Team</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- column  -->
      <div class="col-lg-3 mb-4">
        <!-- Row -->
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="pt-2">
              <h5 class="mt-4 font-weight-medium mb-0">Boris</h5>
              <h6 class="subtitle mb-3">FullStack Developer Student</h6>
            </div>
          </div>
        </div>
        <!-- Row -->
      </div>
      <div class="col-lg-1 mb-4">
      </div>
      <!-- column  -->
      <!-- column  -->
      <div class="col-lg-3 mb-4">
        <!-- Row -->
        <div class="row justify-content-center">
          <div class="col-md-12 text-center">
            <div class="pt-2">
              <h5 class="mt-4 font-weight-medium mb-0">Frontend</h5>
              <h6 class="subtitle mb-3">Html, Bootstrap Css </h6>
            </div>
          </div>
        </div>
        <!-- Row -->
      </div>
      <div class="col-lg-3 mb-4">
        <!-- Row -->
        <div class="row justify-content-center">
          <div class="col-md-12 text-center">
            <div class="pt-2">
              <h5 class="mt-4 font-weight-medium mb-0">Backend</h5>
              <h6 class="subtitle mb-3">Ruby on Rails, Postgresql db</h6>
            </div>
          </div>
        </div>
        <!-- Row -->
      </div>
      
        <!-- Row -->
      </div>
    </div>
  </div>
</div>