<div class="container text-center" style="height:80vh">

<div class="card mb-3 mx-4 rounded-pill" >
  <div class="card-body">
    <h5 class="card-title">
      <h1>Bienvenue <span style="color:#344648"><%= @first_name %></span>
        <% if @first_name != nil%>
          ! </br></br><h3>Page cachée</h3>
        <%end%></h1>
    </h5>
  </div>
</div>